<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TravelInnEntities" connectionString="metadata=res://*/ModelTravelInn.csdl|res://*/ModelTravelInn.ssdl|res://*/ModelTravelInn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERZIN\SQLEXPRESS;initial catalog=TravelInn20190226;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TravelInnEntities" connectionString="metadata=res://*/ModelTravelInn.csdl|res://*/ModelTravelInn.ssdl|res://*/ModelTravelInn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERZIN\SQLEXPRESS;initial catalog=TravelInn20190219;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TravelInnEntities" connectionString="metadata=res://*/ModelTravelInn.csdl|res://*/ModelTravelInn.ssdl|res://*/ModelTravelInn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERZIN\SQLEXPRESS;initial catalog=TravelInn20181201;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TravelInnEntities" connectionString="metadata=res://*/ModelTravelInn.csdl|res://*/ModelTravelInn.ssdl|res://*/ModelTravelInn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERZIN\SQLEXPRESS;initial catalog=TravelInn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TravelInnEntities" connectionString="metadata=res://*/ModelTravelInn.csdl|res://*/ModelTravelInn.ssdl|res://*/ModelTravelInn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL6006.site4now.net;initial catalog=DB_A2C6BB_travelinn;User Id=DB_A2C6BB_travelinn_admin;Password=Akdeniz74!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>