@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }


<div class="contentPane">
    @RenderBody()
</div>

@section DevExpressStyle {@RenderSection("DevExpressStyle", false)}

@section DevExpressScript {@RenderSection("DevExpressScript", false)}

@section script {@RenderSection("script", false)}


