
@{
    ViewBag.Title = "Firmalar";
}

<style type="text/css">
    /*BUNLARI SONRA CUSTOM CSS E AL*/
    .marginTop5px {
        margin-top: 5px;
    }

    .dxgvHeader_Metropolis {
        background-color: #f0f0f0;
    }
</style>

<script>

    var onGrdFirmaEndCallback = function(s, e) {
        if (s.IsEditing()) {
            GridViewFirmaTemsilcileri.CancelEdit();
        };
    }

    var onGrdFirmaTemsilcileriEndCallback = function (s, e) {
        if (s.IsEditing()) {
            GridViewFirmalar.CancelEdit();
        };
    }


</script>

@Html.DevExpress().Splitter(settings => {
    settings.Name = "SplitterFirmalar";
    settings.Width = System.Web.UI.WebControls.Unit.Pixel(1150);
    settings.AllowResize = true;

    settings.Panes.Add(pane =>
    {
        pane.AutoHeight = true;
        pane.Size = System.Web.UI.WebControls.Unit.Pixel(640);
        pane.SetContent(() =>
        {
            ViewContext.Writer.Write(@Html.Action("GridViewFirmalarPartial"));

        });
    });

    settings.Panes.Add(pane =>
    {
        pane.AutoHeight = true;
        pane.Size = System.Web.UI.WebControls.Unit.Pixel(590);
        pane.SetContent(() =>
        {

            ViewContext.Writer.Write("<div style='position: fixed;'>");
            ViewContext.Writer.Write("<h2 id='firmaTitle' style='color: #757575;'></h2>");

            ViewContext.Writer.Write(@Html.Action("GridViewFirmaTemsilcileriPartial", "FirmaTemsilcileri"));

            ViewContext.Writer.Write("</div>");

        });
    });

}).GetHtml()

<script type="text/javascript">
    $(function () {

        var frmId = 0;

        onGrdFirmalar_RowClick = function (s, e) {

            frmId = GridViewFirmalar.GetRowKey(e.visibleIndex);

            GridViewFirmalar.GetRowValues(
                e.visibleIndex,
                'Ismi',
                function (value) {
                    document.getElementById('firmaTitle').innerHTML = value
                })

            GridViewFirmaTemsilcileri.PerformCallback();

        }

        onGrdFirmaTemsilcileriBeginCallback = function (s, e) {

            if (e.command === 'STARTEDIT') {
                 AdjustEnterKeyUpdate(s, e);
            }

            e.customArgs["FirmaId"] = frmId;

            if (frmId > 0) {
                GridViewFirmaTemsilcileri.SetVisible(true);
            }
        }

    })
</script>